@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
$black: #282828;

* {
    // color: gray;
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}
html {
  height: 100%;
}
body {
    min-height: 100%;
    position: relative;
    display: flex;
    align-items:  center;
    columns: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out alternate infinite;
}
@keyframes change {
    0% {
        background-position: 0%;
    }
    50% {
        background-position: 100%;
    }
    100% {
        background-position: 0%;
    }
}
.bigHeadline {
    // general
    text-align: center;
    color: $black !important;
    font-family: 'Lato', Arial, sans-serif;
    font-weight:bolder;
    margin-top: 15rem;
    margin-bottom: 1rem;
    font-size: 7rem;
    padding: 0.5rem;
    // border: 2px solid;
    // border-color: #282828;
    // animation:  appearingOfText ease-out 3s;
    // mobile
    @media (max-width: 500px) {
        font-size: 3rem;
        margin-top: 15rem;
        margin-bottom: 1rem;
    }
}
@keyframes appearingOfText {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.links {
    // general
    text-align: center;
    // desktop
    font-size: 5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    // border: 2px solid;
    // border-color: #282828;
    // mobile
    @media (max-width: 500px) {
        font-size: 2rem;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
    }
    a:link, a:visited {
        color: $black !important;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        // desktop
        padding: 2rem 2rem;
        // mobile
        @media (max-width: 500px) {
            padding: 0.7rem 0.7rem;
        }
    }
}
.link {
    // general
    margin: 0px;
    padding:0px;
}
.footer {
    // general
    color: #282828 !important;
    text-align: center;
    width: 20rem;
    position: absolute;
    left: 50%;
    right: 50%;
    top: 90%;
    transform: translate(-50%, -50%)
}