:root {
    --gradient: linear-gradient(
    45deg,
    #845ec2,
    #d65db1,
    #ff6f91,
    #ff9671,
    #ffc75f,
    #f9f871
    );
    --black: #282828;
}

@keyframes bg-animation {
    0% {background-position: left}
    100% {background-position: right}
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}
html {
    min-height: 100%;
}
body {
    min-height: 100%;
}

html {
    /* To make use of full height of page*/
    min-height: 100%;
    margin: 0;
}

body {
    display: flex;
    align-items:  center;
    columns: center;
    flex-direction: column;
    background: var(--gradient);
    background-size: 400%;
    animation: bg-animation 15s infinite alternate;
    height: 100%;
    width: 100%;
}

.bigHeadline {
    // general
    text-align: center;
    color: #000000;
    font-family: 'Helvetica', sans-serif;
    font-weight:bolder;
    // desktop
    margin-top: 15rem;
    margin-bottom: 1rem;
    font-size: 7rem;
    // mobile
    @media (max-width: 500px) {
        font-size: 3rem;
        margin-top: 15rem;
        margin-bottom: 1rem;
    }
}
.links {
    // general
    text-align: center;
    // desktop
    font-size: 5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    // mobile
    @media (max-width: 500px) {
        font-size: 2rem;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
    }
}
.link {
    // general
    margin: 0px;
    padding:0px;
}
a:link, a:visited {
    // general
    // svg {
    //     padding: 20px;
    //     box-shadow: 0px 0px 5px 5px gray;
    //     border-radius: 3rem;
    //     :hover {
    //         cursor: pointer;
    //     }
    // }
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    // desktop
    padding: 2rem 2rem;
    // mobile
    @media (max-width: 500px) {
        padding: 0.7rem 0.7rem;
    }
}

.footer {
    // general
    color: #555555;
    text-align: center;
    width: 20rem;
    position: absolute;
    top:95%;
    left:50%;
    transform: translate(-50%, -50%);
}